.container{
    
    background-color: black;
    color:white;
}

.corona{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.corona img{
    width:10rem;
    height:10rem;
    object-fit: cover;
}
.corona>div:nth-child(2){
    padding:1rem 0rem 0rem 1rem;
}
form{
    text-align: center;
    margin:-1rem 0rem 0rem 0rem;
}
.btn1{
    width:10rem;
    height:2rem;
    background-color: rgb(0, 110, 255);
    
}

.btn2{
    width:15rem;
    height:2rem;
    margin-top:1rem;
    background-color: rgb(0, 110, 255);
}
.pic{
    
    align-items: center;
    text-align: center;
    justify-content: center;
}
img{
    width:30rem;
    height:30rem;
    object-fit: contain;
    
}

@media (min-width:700px){
    img{
        width:40rem;
        height:40rem;
        object-fit: contain;
        
    } 
    .pic{
        margin-top:-7rem;
    }
}

@media (min-width:900px){
    img{
        width:50rem;
        height:50rem;
        object-fit: contain;
        
    } 
    .pic{
        margin-top:-7rem;
    }
}